<link rel="stylesheet" href="/css/chat-box.css">

<h3 style="color:black;text-align: center; margin-top:10px;">This is a <%= room %> chat box. You can share any query or interesting facts about the domain.</h3>
<% if(locals.user){ %>
    <div id="chat-box">
        <div id="message-list-container">
            <% for(data of messages) {%>
                <% if(data.user_email==locals.user.email){ %>
                    <div id="<%= data.id %>">
                        <div class="seperate-message" id="<%=data.id.slice(20)%>">
                            <div class="details"  id="user_detail">
                                
                                <span> <%= data.username %> </span>
                                <span>Msg. Id : <%=data.id.slice(20)%></span>
                                <div>
                                    <span> <%= data.date %> | </span>
                                    <span> <%= data.time %> </span>
                                </div>
                            </div>
                            <div class="message">
                                <div class="message-detail">
                                    <% if(data.reply){ %>
                                    <div>Replying to <a href="#<%=data.reply%>">#<%=data.reply%></a></div>
                                    <%}%>
                                    <span><%= data.message %> </span>
                                    <% if(data.link){ %>
                                        <p>Goto : <a href="<%=data.link%>" target="_blank"><%=data.link%></a></p>
                                    <%}%>
                                </div>
                                <div class="message-setting">
                                    <a class="message-reply" href="<%=data.id.slice(20)%>"><i class="fas fa-reply"></i></a>
                                    <a class="message-delete" href="delete/<%=data.id%>"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                <%}else{%>
                    <div id="<%= data.id %>">
                        <div class="seperate-message" id="<%=data.id.slice(20)%>">
                            <div class="details">
    
                                <span><%= data.username %> </span>
                                <span>Msg. Id : <%=data.id.slice(20)%></span>
                                <div>
                                    <span><%= data.date %> | </span>
                                    <span><%= data.time %> </span>
                                </div>
                            </div>
                            <div class="message">
                                <div class="message-detail">
                                    <% if(data.reply){ %>
                                        <div>Replying to <a href="#<%=data.reply%>">#<%=data.reply%></a></div>
                                    <%}%>                                
                                    <span><%= data.message %> </span>
                                    <% if(data.link){ %>
                                        <p>Goto : <a href="<%=data.link%>" target="_blank"><%=data.link%></a></p>
                                    <%}%>
                                </div>
                                <div class="message-setting">
                                    <a class="message-reply" href="<%=data.id.slice(20)%>"><i class="fas fa-reply"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                <%}%>
                
            <%}%>
        </div>
        <div id="message-form">
            <input id="message-input" name="message" class="clearfix" type="text" placeholder="Type message..." required>
            <input type="url" id="message-link" name="link" class="clearfix" placeholder="Add URL if any..." pattern="https://.*" required>
            <input type="hidden" id="reply-link" name="reply">
            <button id="send-message" class="clearfix">Send</button>
        </div>
    </div>
<%}%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<script src="/js/chat-settings.js"></script>

<% if (locals.user){ %>
<script>
    new ChatEngine('user-chat-box', '<%=room%>' , '<%= locals.user.email %>','<%= locals.user.user_name %>');
    $('.message-reply').each(function(){
        let self=this;
        let reply=new Reply(self);
    });

    $('.message-delete').each(function(){
        let self=this;
        let delete_message=new Delete(self);
    })
</script>
<% } %>