<link rel="stylesheet" href="<%= assetPath('css/chat-box.css') %>">

<h2 style="color:#1e1e3a;text-align: center;">This chat box is for general and technical queries. Dont share your personal messages here.</h3>
<% if(locals.user){ %>
    <div id="chat-box">
        <div id="message-list-container">
            <% for(data of messages) {%>
                <% if(data.user_email==locals.user.email){ %>
                    <div class="seperate-message">
                        <div class="details"  id="user_detail">
                            <span> <%= data.username %> </span>
                            <div>
                                <span> <%= data.date %> | </span>
                                <span> <%= data.time %> </span>
                            </div>
                        </div>
                        <div class="message">
                            <span> <%= data.message %> </span>
                        </div>
                    </div>
                <%}else{%>
                    <div class="seperate-message">
                        <div class="details">
                            <span><%= data.username %> </span>
                            <div>
                                <span><%= data.date %> | </span>
                                <span><%= data.time %> </span>
                            </div>
                        </div>
                        <div class="message">
                            <span><%= data.message %> </span>
                        </div>
                    </div>
                <%}%>
                
                

            <%}%>
        </div>
        <div id="message-form">
            <input id="message-input" class="clearfix" type="text" placeholder="Type message...">
            <button id="send-message" class="clearfix">Send</button>
        </div>
    </div>
<%}%>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>
<% if (locals.user){ %>
<script>
    new ChatEngine('user-chat-box', '<%= locals.user.email %>','<%= locals.user.user_name %>');
</script>
<% } %>