
<link rel="stylesheet" href="<%= assetPath('css/chat-box.css') %>">

<div class="chat-home">
    <div class="chat-seperate">
        <a href="/chatbox/Web-Development">
            <img src="<%= assetPath('images/web-development.svg') %>" alt="WebD">
        </a>
        <div class="category">
            <a href="/chatbox/Web-Development">Web Development</a>
        </div>
    </div>
    <div class="chat-seperate">
        <a href="/chatbox/Machine-Learning">
            <img src="<%= assetPath('images/machine-learning.svg') %>" alt="ML">
        </a>
        
        <div class="category">
            <a href="/chatbox/Machine-Learning">Machine Learning</a>
        </div>
        
    </div>
    <div class="chat-seperate">
        <a href="/chatbox/Competitive-Programming">
            <img src="<%= assetPath('images/algorithms.svg') %>" alt="CP">
        </a>
        <div class="category">
            <a href="/chatbox/Competitive-Programming">Competitive Programming</a>
        </div>
        
    </div>
    <div class="chat-seperate">  
        <a href="/chatbox/Interview-Preparation">
            <img src="<%= assetPath('images/interview.svg') %>" alt="IP">
        </a> 
        
        <div class="category">
            <a href="/chatbox/Interview-Preparation">Interview Preparation</a>
        </div>
        
    </div>
</div>



