
<li id="comment-<%=comment._id%>">
    <div id="comment">
        <small id="comment_creator_detail">
            
            <span id="comment-creator"><%=comment.user.user_name%></span>
            <%if(locals.user && (comment.user.id==locals.user.id || post.user.id==locals.user.id)){%>
                <a class="delete-comment-button" href="/comment/destroy/<%=comment.id%>">X</a>
            <%}%>
            
        </small>
        <p>
            <%=comment.content%>
        </p>
    </div>
    <div id="comment_likes" class="like_section">
        <% if(locals.user){ %>
            <a href="/like/toggle/?id=<%=comment._id%>&type=Comment" class="toggle-like-button" data-likes="<%=comment.likes.length%>"><%=comment.likes.length%> Like</a>
        <%}else{%>
            <a><%=comment.likes.length%> Likes</a>
        <% } %>
    </div>
</li>    



