<li class="seperate_post" id="post-<%=post.id%>">
    <!-- <p><%=post%></p> -->
    <div id="post_head">
        <small><p><%=post.user.user_name%></p></small>
        <% if(locals.user && (locals.user.id==post.user.id)){%>
        <small><a class="delete-post-button" href="/post/destroy/<%=post.id%>">Delete</a></small>
        <%}%>
    </div>
    
    <b>
        <p class="post_content">
            <%=post.content%>  
        </p>
        <% if(post.avatar){%>
        <div class="post-image-container">
            <img class="post-image" src="<%=post.avatar%>" alt="Post Image">    
        </div>
        <%}%>
    </b>

    <div class="like_section">
        <% if(locals.user){ %>
            <% if(post.like.includes(locals.user._id)){%>
                <a  href="/like/toggle/?but=like&id=<%=post._id%>&type=Post" class="toggle-like-button red" data-like="<%=post.like.length%>"><i class="like far fa-thumbs-up"></i> <%=post.like.length%></a>
            <%}else{%>
                <a  href="/like/toggle/?but=like&id=<%=post._id%>&type=Post" class="toggle-like-button" data-like="<%=post.like.length%>"><i class="like far fa-thumbs-up"></i> <%=post.like.length%></a>
            <%}%>
        <%}else{%>
            <a><i class="like far fa-thumbs-up"></i> <%=post.like.length%></a>
        <% } %>
        <% if(locals.user){ %>
            <% if(post.heart.includes(locals.user._id)){%>
                <a  href="/like/toggle/?but=heart&id=<%=post._id%>&type=Post" class="toggle-like-button red" data-heart="<%=post.heart.length%>"><i class="like far fa-heart"></i> <%=post.heart.length%></a>
            <%}else{%>
                <a  href="/like/toggle/?but=heart&id=<%=post._id%>&type=Post" class="toggle-like-button" data-heart="<%=post.heart.length%>"><i class="like far fa-heart"></i> <%=post.heart.length%></a>
            <%}%>
        <%}else{%>
            <a><i class="like far fa-heart"></i> <%=post.heart.length%></a>
        <% } %>
        <% if(locals.user){ %>
            <% if(post.laugh.includes(locals.user._id)){%>
                <a  href="/like/toggle/?but=laugh&id=<%=post._id%>&type=Post" class="toggle-like-button red" data-laugh="<%=post.laugh.length%>"><i class="like far fa-laugh-squint"></i> <%=post.laugh.length%></a>
            <%}else{%>
                <a  href="/like/toggle/?but=laugh&id=<%=post._id%>&type=Post" class="toggle-like-button" data-laugh="<%=post.laugh.length%>"><i class="like far fa-laugh-squint"></i> <%=post.laugh.length%></a>
            <%}%>
            
        <%}else{%>
            <a><i class="like far fa-laugh-squint"></i> <%=post.laugh.length%></a>
        <% } %>
        
    </div>
    <hr>
    <div class="post-comments">
        <% if(locals.user){ %>
            <form id="post-<%=post._id%>-comments-form" action='/comment/add-comment' class="comment_form" method="POST">
                <input type="text" name="content" placeholder="Add comment..." required>
                <input type="hidden" name="post"value="<%=post._id%>">
                <button type="submit">Add</button>
            </form>
        <%}%>
        
    </div>
    <div class="comments-list">
        <ul class="post-comment" id="post-comments-<%=post.id%>">
            <% for(comment of post.comments){ %>
                <%- include('_comment'); -%>
            <%}%>
        </ul>
    </div>
    
</li>