
<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<div id="container">
    <section id="links"></section>
    <section id="feed">
        <%- include('_postform'); -%>
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    <%- include('_post'); -%>
                <%}%>
            </ul>
        </div>
        
    </section>
    <!-- <h4><%= locals.user %></h4> -->
    <section id="user-friends">
        <h4>Friends</h4>
        <% for(userx of users){%>
            <p>
                <a href="user/profile/<%=userx.id%>"><%=userx.user_name%></a>
            </p>
        <%}%>
    
    </section>
    
    <%- include('_chat-box') -%>
</div>

<script src="<%= assetPath('js/post_comments.js') %>"></script>
<script src="<%= assetPath('js/home_posts.js') %>"></script>

<script src="<%= assetPath('js/toggle_like.js') %>"></script>

<script>
    $('.toggle-like-button').each(function(){
        let self=this;
        let toggleLike=new ToggleLike(self);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>
<% if (locals.user){ %>
<script>
    new ChatEngine('user-chat-box', '<%= locals.user.email %>')
</script>
<% } %>
