
<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<div id="container">
    <section id="links"></section>
    <section id="feed">
        <%- include('_postform'); -%>
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    <%- include('_post'); -%>
                <%}%>
            </ul>
        </div>
        
    </section>
    <section id="user-friends">
        <% if(locals.user){%>
            <section id="friends">
                <h4>Friends</h4>
            
                <% for(friendx of currUser.friends){%>
                    <p>
                        <a href="user/profile/<%=friendx.id%>"><%=friendx.user_name%></a>
                    </p>
                <%}%>
            </section>
        <%}%>
        <section id="users">
            <h4>Users</h4>
            <% for(userx of users){%>
                <p>
                    <a href="user/profile/<%=userx.id%>"><%=userx.user_name%></a>
                </p>
        <%}%>
        </section>
        
    
    </section>
    
</div>

<script src="<%= assetPath('js/post_comments.js') %>"></script>
<script src="<%= assetPath('js/home_posts.js') %>"></script>

<script src="<%= assetPath('js/toggle_like.js') %>"></script>

<script>
    $('.toggle-like-button').each(function(){
        let self=this;
        let toggleLike=new ToggleLike(self);
    });
</script>


