<link rel="stylesheet" href="<%=assetPath('css/profile.css')%>">
<div class="profile-details">
    <img src="<%=profile_user.avatar%>" alt="No profile pic" width='100px' height='100px' class="my_img">
    <p><%=profile_user.user_name%></p>
    <p><%=profile_user.email%></p>
    <br>
    <% if(locals.user && profile_user.id!=user.id){%>
        <% if(locals.user.friends.includes(profile_user.id)){%>
            <a href="/user/togg-friend/?id=<%=profile_user.id%>" class="toggle-friend-button">Remove Friend</a>        
        <%}else{%>
            <a href="/user/togg-friend/?id=<%=profile_user.id%>" class="toggle-friend-button">Add Friend</a>        
        <%}%>
    <%}%>
</div>

<% if(locals.user && profile_user.id==user.id){%>
    <div class="edit_details">
        <h2>Edit details</h2>
        <form class="update-form" action="/user/update-profile/<%=profile_user.id%>" method="POST" enctype="multipart/form-data">
            <div class="name-field">
                <input type="text" name="user_name" placeholder="Type new name" value="<%=profile_user.user_name%>" required>
                <input type="email" name="email" placeholder="Type new email" value="<%=profile_user.email%>" required>
            </div>
            
            <input class="file-input" type="file" name="avatar" placeholder="Profile Picture">
            <button class="submit" type="submit">Submit</button>
        </form>    
    </div>
    

<%}%>

<script src="<%= assetPath('js/friendship.js') %>"></script>

<script>
    $('.toggle-friend-button').each(function(){
        let self=this;
        let toggleFriend=new ToggleFriend(self);
    });
</script>